.hard {
}
.hard__container {
    position: relative;
}
.hard__container::before {
    content: '';
    background-image: url(../img/header/vr_man.jpg);
    background-size: cover;
    width: 675px;
    height: 762px;
    position: absolute;
    right: 0px;
    bottom: -60px;
}
.hard__title {
    color: #FFF;
    text-align: left;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 150px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 150px */
    letter-spacing: -12px;
}
.hard__text {
    color: #FFF;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 178.571% */
    padding-left: 100px;
    margin-bottom: 40px;
}
.hard__info {
    display: flex;
    flex-direction: column;
}
.hard__rooms {
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 40px;
    margin-bottom: 150px;
}
.hard__room {
    display: flex;
    flex-direction: column;
    max-width: 210px;
}
.hard__room-subtitle-4 {
    color: #CD06FF;
    font-family: Arial;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    align-self: center;
}

.hard__room-subtitle-new {
    color: #CD06FF;
    font-family: Arial;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    align-self: center;
    font-variant: all-small-caps;
}

.hard__room-text {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hard__button {
    align-self: start;
    color: #FFF;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 115.385% */
    text-transform: uppercase;
    border-radius: 10px;
    background: #6C0287;
    padding: 25px 69px;
}

.hard__arrow {
    position: relative;
    max-width: 97px;
    min-height: 97px;
    background-image: url(../img/header/down_arrow.svg);
    background-size: contain;
    display: flex;
    margin: auto;
    z-index: 5;
    bottom: 30px;
}

.hard__arrow:hover {
    content: '';
    background-image: url(../img/header/arrow_hover.svg);
}

.hard__arrow:active {
    content: '';
    background-image: url(../img/header/arrow_active.svg);
}

.btn-purple {
}


@media screen and (max-width:1024px) {
    .hard__container {
        max-width: 964px;
    }

    .hard__container::before {
        content: '';
        background-image: url(../img/header/vr_man.jpg);
        background-size: cover;
        width: 453px;
        height: 520px;
        position: absolute;
        bottom: 20px;
    }


    .hard__title {
        font-size: 120px;
        line-height: 100%; /* 120px */
        letter-spacing: -8px;
        margin-bottom: 20px;
    }

    .hard__text {
        font-size: 18px;
        line-height: 30px; /* 133.333% */
    }

    .hard__room-subtitle-4 {
        font-size: 80px;
    }

    .hard__room-subtitle-new {
        font-size: 60px;
    }

    .hard__room-text {
        font-size: 26px;
    }

    .hard__rooms {
        margin-bottom: 80px;
    }

    .hard__button {
        font-size: 22px;
        padding: 17px 48px;
    }

    .hard__arrow {
        position: relative;
        max-width: 67px;
        min-height: 67px;
        background-size: contain;
        bottom: 30px;
}

@media screen and (max-width:768px) {
    .hard__container {
        max-width: 748px;
    }

    .hard__container::before {
        content: '';
        background-image: url(../img/header/vr_man.jpg);
        background-size: cover;
        width: 409px;
        height: 479px;
        bottom: -110px;
    }

    .hard__rooms {
        column-gap: 32px;
    }

    .hard__title {
        font-size: 86px;
        letter-spacing: -8.6px;
    }

    .hard__text {
        font-size: 18px;
        line-height: 24px; /* 133.333% */
    }

    .hard__room-subtitle-4 {
        font-size: 50px;
    }

    .hard__room-subtitle-new {
        font-size: 40px;
    }

    .hard__room-text {
        font-size: 16px;
    }

    .hard__rooms {
        margin-bottom: 100px;
    }

    .hard__button {
        font-size: 16px;
        line-height: 24px; /* 150% */
        padding: 11px 35px;
    }

    .hard__arrow {
        display: none;
}
}

@media screen and (max-width:320px) {
    .hard__container {
        max-width: 380px;
    }

    .hard__container::before {
        content: '';
        background-image: url(../img/header/vr_man.jpg);
        background-size: cover;
        width: 161px;
        height: 179px;
        bottom: 0px;
    }

    .hard__rooms {
        column-gap: 20px;
        padding-left: 20px;
    }

    .hard__room {
        display: flex;
        justify-self: auto;
        align-self: auto;
    }

    .hard__title {
        font-size: 35px;
        line-height: 100%; /* 35px */
        letter-spacing: -2.8px;
    }

    .hard__text {
        font-size: 10px;
        line-height: 14px; /* 140% */
        padding-left: 0px;
        margin-bottom: 10px;
    }

    .hard__room-subtitle-4 {
        font-size: 26px;
    }

    .hard__room-subtitle-new {
        font-size: 22px;
    }

    .hard__room-text {
        font-size: 10px;
    }

    .hard__rooms {
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }

    .hard__button {
        font-size: 10px;
        line-height: 12px; /* 150% */
        padding: 7px 13px;
        border-radius: 4px;
    }
}