.hard {
}
.hard__container {
    height: 823px;
    position: relative;
}
.hard__container::before {
    content: '';
    background-image: url(../img/header/vr_man.jpg);
    width: 675px;
    height: 762px;
    position: absolute;
    right: 30px;
    bottom: 0;
    background-size: cover;
}
.hard__title {
    color: #FFF;
    text-align: left;
    font-family: Arial;
    font-size: 150px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 150px */
    letter-spacing: -10px;
    text-transform: uppercase;
}
.hard__text {
    color: #FFF;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 178.571% */
    padding-left: 100px;
    margin-bottom: 40px;
}
.hard__info {
    display: flex;
    flex-direction: column;
}
.hard__rooms {
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 40px;
    margin-bottom: 150px;
}
.hard__room {
    display: flex;
    flex-direction: column;
    max-width: 210px;
}
.hard__room-subtitle-4 {
    color: #CD06FF;
    font-family: Arial;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    align-self: center;
}

.hard__room-subtitle-new {
    color: #CD06FF;
    font-family: Arial;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    align-self: center;
    font-variant: all-small-caps;
}

.new {
    font-size: 75px;
}
.hard__room-text {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hard__button {
    align-self: start;
    color: #FFF;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 115.385% */
    text-transform: uppercase;
    border-radius: 10px;
    background: #6C0287;
    padding: 25px 69px;
}

.hard__arrow {
    position: relative;
    max-width: 97px;
    min-height: 97px;
    background-image: url(../img/header/down_arrow.svg);
    display: flex;
    margin: auto;
    z-index: 5;
    bottom: 30px;
}

.hard__arrow:hover {
    content: '';
    background-image: url(../img/header/arrow_hover.svg);
}

.hard__arrow:active {
    content: '';
    background-image: url(../img/header/arrow_active.svg);
}

.btn-purple {
}

@media screen and (max-width:1110px) {
    .hard__title {
        font-size: 120px;
    }

    .hard__container::before {
        width: 453px;
        height: 520px;
        background-size: cover;
        bottom: 150px;
    }

    .hard__room-subtitle-4 {
        font-size: 80px;
    }
    
    .hard__room-subtitle-new {
        font-size: 60px;
    }

    .hard__button {
        font-size: 22px;
        text-align: center;
        margin-left: 39px;
    }

}

@media screen and (max-width:930px) {
    
}

@media screen and (max-width:500px) {
    
}